.banner {
    width: 100%;
    height: 300px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: scale 15s;
    animation-fill-mode: forwards;

    @keyframes scale {
        0% {
            background-size: 105%;
        }

        25% {
            background-size: 110%;
        }

        50% {
            background-size: 115%
        }

        75% {
            background-size: 120%
        }

        100% {
            background-size: 125%
        }
    }

    @media(min-width:$tablet-width) {
        height: 400px;
        text-align: right;
    }
}

.banner--slogan {
    background-color: rgba($color: #fff, $alpha: 0.8);

    h1 {
        font-family: "Payback";
        font-size: 2.3rem;
    }

    h2 {
        font-family: "Payback";
        font-size: 2rem;
    }

    @media(min-width:$tablet-width) {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }

        padding-right: 3%;
    }
}