.mobile-height{
    height: 100px;
}
.desktop-height{
    height: 150px;
}
.banner{
    width: 100%;
    @extend .mobile-height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .logo{
        @extend .mobile-height;
    }
    @media(min-width:$tablet-width){
        &{
            height:150px;
        }
        .logo{
            height:150px;
        }
        
    }
}