* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: getColour(primary-colour);
    margin: 0;
}

.wrapper {
    flex: 1 0 auto;
}

.disabled {
    pointer-events: none;
}