.container{
    display: flex;
}
.btn{
    color: getColour(cyan);
    background-color: getColour(primary-colour);
    border: 3px solid getColour(cyan);
    font-weight: bold;
    box-shadow: 2px 2px 5px getColour(shadow);
    
    &:hover{
        background-color: getColour(cyan);
        color: darken(getColour(primary-colour), 10%);
        border: 3px solid getColour(cyan);
    }
    &:focus{
        border: 3px solid getColour(cyan);
    }
}
.btn-primary--product{
    @include button (50%, 1.5rem);
    margin: 16% auto;
    padding: 2%;
    @media (min-width:$tablet-width) {
        @include button (30%, 2rem);
        padding: 2%;
        margin: 5% auto;
        &:hover{
            background-color: darken(getColour(primary-colour), 10%);
            font-size: 2.3rem;
            color:getColour(cyan);
        }
    }
   
}
.btn-primary--cart{
    @include button (80%, 1.3rem);
    padding: 5% 0;
    margin: 2% auto;
}