.container{
    display: flex;
}
.btn{
    color: getColour(custom-cyan);
    background-color: getColour(primary-colour);
    border: 3px solid getColour(custom-cyan);
    font-weight: bold;
    box-shadow: 2px 2px 5px getColour(shadow);
    
    &:hover,
    &:active,
    &:focus{
        background-color: getColour(custom-cyan) !important;
        color: darken(getColour(primary-colour), 10%) !important;
        border: 3px solid getColour(custom-cyan);
        i{
            color: darken(getColour(primary-colour), 10%) !important;
        }
    }
}
.btn-primary{
    margin-top: 6%;
    font-size: 1.5rem;
}
.btn-primary--product{
    @include button (50%, 1.5rem);
    margin: 16% auto;
    padding: 2%;
    @media (min-width:$tablet-width) {
        @include button (30%, 2rem);
        padding: 2%;
        margin: 5%;
        &:hover{
            background-color: darken(getColour(primary-colour), 10%);
            font-size: 2.3rem;
            color:getColour(custom-cyan);
        }
    }
   
}
.btn-primary--cart{
    @include button (80%, 2.3rem);
    padding: 3% 0;
    margin: 3% auto !important;
    &:hover{
        .ri-shopping-cart-2-line,
        .ri-shopping-cart-2-fill{
            color: darken(getColour(primary-colour), 10%);
        }
    }
}
.btn-primary--add{
    padding: 3% 10%;
    margin: 3% auto;
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    max-width: 75%;
    @media (min-width:$tablet-width) {
        max-width: 65%;
    }
}
.clear__button{
    display: grid;
    .btn-primary--clear__cart{
        max-width: 60%;
        margin: 4% auto;
    }
}
.submit{
    margin-top: 6%;
    padding: 5% 20%;
    font-size: 1.5rem;
}
.btn-delete{
    color: getColour(light-yellow);
    border: 3px solid getColour(light-yellow);
}
.edit__buttons{
    max-width: 60%;
    margin: 2% auto;
}