.detail__products{
    display: block !important;
    gap: 2%;
    margin: 8% auto;
    @media(min-width:992px){
        display: flex !important;
    }
    .row{
        padding: 0 !important;
        .card-img-top{
        padding: 0 !important;
        &:hover{
            transform: scale(5px);
        }
        }
    }
    .details__text{
        color: getColour(secondary-colour);
        padding-bottom: 2%;
    }
    
}