.far,
.fas,
.ri-shopping-cart-2-line,
.ri-shopping-cart-2-fill,
.ri-user-shared-2-fill,
.ri-add-circle-line,
.ri-delete-bin-2-fill,
.ri-edit-line{
    color: getColour(custom-cyan);
    font-size: 1.5rem;
    @media (min-width:$tablet-width) {
        font-size: 1.7rem;
    }
}
