@mixin button($width, $font-size){
    width:$width;
    font-size: $font-size;
}
@mixin border ($weight, $border-color){
    border:$weight, solid, getColour($border-color);
}
@mixin box__shadow ($weight, $blur, $shadow-color){
    box-shadow: $weight $weight $blur getColour($shadow-color);
}
@mixin border-radius ($round){
    border-radius: $round;
}