.bg-dark{
    background-color: getColour(primary-colour) !important;
}
.logo{
    max-width: 75%;
    display: none;
    @media (min-width:$tablet-width){
        display: flex;
    }
}
.home{
    display:block;
    color: getColour(secondary-colour);
    text-decoration: none;
    
    @media (min-width:$tablet-width){
    display:none;
    }
}
.navbar-dark{
    .navbar-toggler{
        border: none;
        color: getColour(cyan) !important;
    }
}
.nav-item{
    display: flex;
    align-items: center;
    max-width: 20%;
}
.nav-link{
    &:hover{
        text-decoration: underline;
    }
    @media (min-width:$tablet-width){
        font-size: 1.5rem;
    }
}
.navbar-collapse{
    flex-grow: inherit;
}
.favorite_cart_login{
    @media (min-width:$tablet-width){
    padding: 1% 8%;
    display: flex;
    i{
        margin-right: 30%;
    }
    a{
        margin-right: 30%;
    }
}
}